*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
background: #334155;
color: white;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    margin-bottom: 40px;
    text-decoration: underline;
}
.gameboard{
    display: grid;
    grid-template-columns: repeat(3,minmax(120px,1fr));
}
.cell{
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 60px;
    font-weight: 600;
    height: 120px;
    cursor: pointer;
}
.cell:first-child,.cell:nth-child(2),.cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(3),.cell:nth-child(6),.cell:nth-child(9){
    border-right: none;
}
.cell:nth-child(9),.cell:nth-child(8),.cell:nth-child(7){
    border-bottom: none;
}
.cell:nth-child(1),.cell:nth-child(4),.cell:nth-child(7){
    border-left: none;
}
.gameplayer{
display: flex;
justify-content: space-between;
margin-top: 30px;
}
.player{
margin-inline: 15px;
font-size: 24px;
font-weight: 600;
}
.restart{
    border:none;
    background: #5f5fc4;
    color: white;
    font-weight: 700;
    margin-block:18px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 4px;
}
.alertbox{
    position: absolute;
    top: 0;
    text-align: center;
    display: none;
    background-color: white;
    color: #4d4b51;
    width: 100%;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    margin-bottom: 120px;
}
.cell.disabled{
    background: #8c8c8c;
}
.restart:hover{
    background:#7272e1;
}
@media screen  and (max-width:550px){
    .container h1{
        font-size: 24px;
    }
    .gameboard{
        grid-template-columns: repeat(3,minmax(90px,1fr));
    }
    .cell{
        height: 90px;
        font-size:50px;
    }
}